<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      City
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
    <ion-label>Jakarta</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Bandung</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Surabaya</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Yogyakarta</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Makassar</ion-label>
  </ion-item>
</ion-list>
</ion-content>
